.docs-main {
    padding: 2rem 3rem;
    font-size: large;
    color: #004687;
}

h1 {
    margin: 0 0 0 -1rem;
}

h2 {
    color: #2a52be;
    margin: 1rem 0 1rem -1rem;
}

h3 {
    color: #4285f4;
    margin: 1rem 0 1rem 0;
}

pre {
    color: green;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0.1rem;
}